flows.json
[{"id":"5df2ff28.52093","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f1c8f9.5c3f2708","type":"function","z":"5df2ff28.52093","name":"","func":"var name = msg.payload.name\nvar lat = msg.payload.lat\nvar lon = msg.payload.lon\nglobal.set('latitude',lat)\nglobal.set('longitude',lon)\nglobal.set('name',name)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":120,"wires":[["8a66e787.2208b8","b6d27019.e15a3"]]},{"id":"b6d27019.e15a3","type":"function","z":"5df2ff28.52093","name":"","func":"msg.payload = {\n    'name':global.get('name'),\n    'lat':global.get('latitude'),\n    'lon':global.get('longitude')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":200,"wires":[["2a28f0e.3f61f1","31be2afc.8063b6"]]},{"id":"8a66e787.2208b8","type":"debug","z":"5df2ff28.52093","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":120,"wires":[]},{"id":"2a28f0e.3f61f1","type":"ui_worldmap","z":"5df2ff28.52093","group":"35122389.5ca70c","order":0,"width":0,"height":0,"name":"","lat":"lat","lon":"lon","zoom":"14","layer":"Esri","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":620,"y":220,"wires":[]},{"id":"553c3582.e8ab4c","type":"rbe","z":"5df2ff28.52093","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":410,"y":380,"wires":[["d9217434.7f1b68"]]},{"id":"e1e23384.408a9","type":"function","z":"5df2ff28.52093","name":"","func":"msg.payload = msg.location.inarea\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":380,"wires":[["553c3582.e8ab4c"]]},{"id":"d9217434.7f1b68","type":"switch","z":"5df2ff28.52093","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":540,"wires":[["8d3f00f3.b578d","e90647d3.3d07a8"],["4c4a6652.805a48"]]},{"id":"8d3f00f3.b578d","type":"function","z":"5df2ff28.52093","name":"","func":"msg.payload = \"Alert! Child is out of the Geofence\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":480,"wires":[["5a1e9fb8.3ff02","ead2de65.0793","e4c13bf3.08c758"]]},{"id":"e90647d3.3d07a8","type":"function","z":"5df2ff28.52093","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\n\nvar offset = 5.5;\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = {\n    \"message\":\"Exit\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":540,"wires":[["2d2ea74e.3f2ff8","3071224.4c8c8de"]]},{"id":"4c4a6652.805a48","type":"function","z":"5df2ff28.52093","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\n\nvar offset = 5.5;\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = {\n    \"message\":\"Entry\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":600,"wires":[["2d2ea74e.3f2ff8"]]},{"id":"ead2de65.0793","type":"http request","z":"5df2ff28.52093","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=F3QAxdCfyUJPpDW7c5rOeshSnaq6tmgEM4T9j8iIHL1RVNBbZ05ze82POwBFSrtRMZdLnVci3y6QqUbs&route=q&message=child%20is%20out%20of%20the%20geofence.&language=english&flash=0&numbers=","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":460,"wires":[["e4c13bf3.08c758"]]},{"id":"5a1e9fb8.3ff02","type":"ui_toast","z":"5df2ff28.52093","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":610,"y":500,"wires":[[]]},{"id":"2d2ea74e.3f2ff8","type":"debug","z":"5df2ff28.52093","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":600,"wires":[]},{"id":"e4c13bf3.08c758","type":"debug","z":"5df2ff28.52093","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":380,"wires":[]},{"id":"31be2afc.8063b6","type":"geofence","z":"5df2ff28.52093","name":"","mode":"circle","inside":"both","rad":67.11650874155245,"points":[],"centre":{"latitude":17.422646695527874,"longitude":78.54890942573547},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":320,"y":280,"wires":[["e1e23384.408a9"]]},{"id":"3b6abe5b.c0dbe2","type":"ibmiot in","z":"5df2ff28.52093","authentication":"apiKey","apiKey":"70fa4dc6.9c9754","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":120,"wires":[["f1c8f9.5c3f2708"]]},{"id":"3071224.4c8c8de","type":"cloudant out","z":"5df2ff28.52093","name":"","cloudant":"","database":"project","service":"node-red-ulxxf-2021--cloudant-1621587537861-59908","payonly":false,"operation":"insert","x":610,"y":540,"wires":[]},{"id":"35122389.5ca70c","type":"ui_group","name":"Home page","tab":"88c0833.32ab78","order":2,"disp":true,"width":"6","collapse":false},{"id":"70fa4dc6.9c9754","type":"ibmiot","name":"GCET","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"88c0833.32ab78","type":"ui_tab","name":"child location","icon":"dashboard","disabled":false,"hidden":false}]